/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-clip: border-box;
  inline-size: 100%;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
  padding: var(--small-gap);
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: var(--small-gap);
  right: var(--small-gap);
  border-inline-end: 1px solid var(--corners-btn-color);
  border-block-start: 1px solid var(--corners-btn-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: var(--small-gap);
  left: var(--small-gap);
  border-inline-start: 1px solid var(--corners-btn-color);
  border-block-end: 1px solid var(--corners-btn-color);
  inline-size: 25px;
  block-size: 25px;
}

.header__theme-menu {
  justify-self: flex-end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: calc(var(--small-gap) - 1px);
}

.header__theme-menu-button {
  border: none;
  text-transform: lowercase;
  font-size: var(--main-font-size);
  line-height: 1em;
  color: var(--corners-btn-color);
  background-color: transparent;
  padding-inline: 13px;
  padding-block: 1px 5px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--btn-hover);
}

.header__theme-menu-button:focus-visible {
  outline: transparent;
  box-shadow: 0 1px 0 0 currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid var(--corners-btn-color);
}

.header_title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 0.825;
  color: var(--title-text-color);
  text-shadow: 4px 4px 0 #ff0070;
}

.header_text {
  justify-self: flex-end;
  font-size: var(--main-font-size);
  font-weight: bold;
  color: var(--text-accent-color);
  background-color: var(--accent-color);
}

.rec_mark {
  position: absolute;
  display: flex;
  align-items: center;
  gap: var(--small-gap);
  color: var(--accent-color);
  font-family: inherit;
  text-transform: uppercase;
  font-size: var(--main-font-size);
  top: var(--small-gap);
  right: var(--small-gap);
  margin-inline-end: 9px;
  margin-block-start: 2px;
}
.rec_mark::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px;
}

.main_content {
  display: flex;
  flex-direction: column;
  row-gap: calc(3 * var(--small-gap) + 1px);
  padding-block: calc(4 * var(--small-gap) + 1px);
}

.articles_section {
  display: grid;
  padding-inline: var(--small-gap);
}

.advice-section__title {
  font-size: var(--main-font-size);
  font-weight: bold;
  color: var(--advice-title-text-color);
  padding-block-end: var(--large-gap);
}

.article_container {
  padding-block-end: 20px;
}

.aricle-title {
  font-size: var(--main-font-size);
  font-weight: bold;
  line-height: inherit;
  color: var(--text-accent-color);
  background-color: var(--accent-color);
}

.article {
  font-size: var(--main-font-size);
  line-height: 1.3em;
  color: var(--main-text-color);
  padding-block: var(--small-gap) 0;
}

.article__links {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--link-text-shadow-color);
}

.article__links:hover {
  line-height: 1em;
  border-block-end: 1px solid currentColor;
}

.article__links:active {
  text-decoration: none;
}

.article__links:focus {
  outline: none;
}

.article__links:focus-visible {
  line-height: 0.5em;
  padding: 5px 3px 7px 3px;
  outline: 1px solid var(--links-pseudo-classes-color);
}

.articles_list {
  gap: var(--large-gap);
  padding-block-start: calc(var(--large-gap) + 1px);
}

.ez-advice {
  font-weight: normal;
}

.image-grid {
  padding-inline: var(--small-gap);
}

.images {
  display: grid;
  gap: var(--small-gap);
  padding-block-start: var(--small-gap);
}

.pic {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  display: grid;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-start: 1px;
}

.footer_text {
  color: var(--footer-text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

.footer_title {
  justify-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 0.825;
  color: var(--title-text-color);
  text-shadow: 2px 2px 0 #ff0070;
}

@media (width >=768px) {
  .header {
    min-block-size: 1024px;
    padding: var(--large-gap);
  }

  .header_title {
    margin-left: calc(-2 * var(--small-gap));
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::before {
    top: var(--large-gap);
    right: var(--large-gap);
  }

  .decorated-zone::after {
    bottom: var(--large-gap);
    left: var(--large-gap);
  }

  .rec_mark {
    top: var(--large-gap);
    right: var(--large-gap);
  }

  .header_text {
    justify-self: flex-end;
    max-inline-size: 50%;
  }

  .main_content {
    display: grid;
    row-gap: calc(6.15 * var(--small-gap));
    padding: calc(6 * var(--small-gap)) var(--small-gap);
  }

  .articles_section-why {
    grid-template-columns: 1fr 2fr;
    row-gap: 0;
    column-gap: var(--large-gap);
  }

  .articles_section-why .advice-section__title {
    grid-row: span 2;
  }

  .articles_section-what .advice-section__title {
    max-inline-size: min-content;
  }

  .articles_section-how {
    grid-template-columns: 1fr 2fr;
    column-gap: var(--large-gap);
  }

  .articles_section-how .advice-section__title {
    grid-row: span 2;
  }

  .section__pics .article__title {
    margin-block-end: var(--small-gap);
  }

  .images {
    gap: var(--large-gap);
  }

  .pic:nth-child(1) {
    grid-column: span 2;
  }

  .pic:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
  }

  .pic:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .pic:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .footer {
    block-size: 100vh;
    min-block-size: 1024px;
    padding: var(--large-gap);
  }

  .footer_title {
    margin-left: 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >=1024px) {
  .header {
    min-block-size: 768px;
    padding: var(--large-gap);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: var(--small-gap);
  }

  .header_title {
    margin-block-start: 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main_content {
    padding: calc(6 * var(--small-gap)) var(--small-gap)
      calc(6 * var(--small-gap));
  }

  .articles_section-why {
    column-gap: var(--small-gap);
  }

  .articles_section-what .advice-section__title {
    max-inline-size: calc((100% - 2 * var(--large-gap)) / 3);
  }

  .articles_section-what .articles_reasons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--large-gap);
  }

  .articles_section-how {
    column-gap: var(--small-gap);
  }

  .footer {
    min-block-size: 768px;
    padding: var(--large-gap);
  }
  .footer_title {
    font-size: (9.8125rem, 9.8125rem + 1vw, 10rem);
  }
}
