/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font, 'IBMPlexMono-Regular');
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button {
  color: currentColor;
  border: 1px solid rgba(255, 0, 112, 1);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
}

button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

button:focus {
  border-bottom: 1px solid inherit;
}

.page {
  background: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  width: 100%;
  height: 768px;
  padding: 20px;
}

header::after {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 25px;
  width: 25px;
  content: '';
  border-top: 1px var(--accent-color, #ff0070) solid;
  border-right: 1px var(--accent-color, #ff0070) solid;
}

header::before {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 25px;
  width: 25px;
  content: '';
  border-bottom: 1px var(--accent-color, #ff0070) solid;
  border-left: 1px var(--accent-color, #ff0070) solid;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  align-self: center;
  color: #ff0070;
  gap: 10px;
  justify-content: center;
}

.header_title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 130px;
  color: var(--title-text-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header_text {
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
  color: var(--text-accent-color);
  background-color: var(--accent-color, #ff0070);
  max-width: 491px;
  justify-self: end;
  align-self: center;
  height: fit-content;
}

.links {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
  border-bottom: var(--accent-color, #ff0070);
  text-decoration: none;
}

.links:hover {
  text-decoration: underline;
}

.links:focus {
  border: 1px solid rgba(241, 178, 206, 1);
}

.rec_mark {
  display: flex;
  align-items: center;
  color: var(--accent-color, #ff0070);
  position: absolute;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  top: 20px;
  right: 29px;
  gap: 10px;
}
.rec_mark::after {
  content: '';
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
  display: inline-block;
  border-radius: 50%;
  inline-size: 9px;
  block-size: 9px;
  font-size: 20px;
}

.main_content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.advice-section__title {
  color: var(--title-text-color, #ff0070);
}

.title-decor {
  color: var(--text-accent-color);
  background-color: var(--accent-color);
}

.articals_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto auto;
  gap: 10px;
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
}

.article_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.advice-section {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.advice-section-1 {
  grid-column: span 1;
  grid-row: 1 / 2;
}

.advice-section-2 {
  grid-column: span 2;
  grid-row: 1 / 2;
  flex-direction: column;
}

.advice-section-3 {
  grid-column: span 3;
  grid-row: 2 / 3;
  text-align: left;
  max-width: 315px;
}

.advice-section-4 {
  grid-column: span 3;
  justify-content: space-between;
  grid-row: 3 / 4;
}

.advice-section-5 {
  grid-column: span 1;
  grid-row: 4 / 5;
  background-color: transparent;
}

.advice-section-6 {
  grid-column: span 2;
  grid-row: 4 / 5;
  flex-direction: column;
  background-color: transparent;
}

.image-grid {
  align-self: center;
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-height: 1091px;
  height: 1091px;
}

.image-item {
  border: 2px solid #ff6666;
  border-radius: 5px;
  overflow: hidden;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-large-horizontal {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.image-large-vertical {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.image-tall-left {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.image-center {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.image-wide-bottom {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer {
  position: relative;
  display: flex;
  width: 100%;
  height: 768px;
}

.footer::before {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 25px;
  width: 25px;
  content: '';
  border-bottom: 1px var(--accent-color, #ff0070) solid;
  border-left: 1px var(--accent-color, #ff0070) solid;
}

.footer::after {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 25px;
  width: 25px;
  content: '';
  border-top: 1px var(--accent-color, #ff0070) solid;
  border-right: 1px var(--accent-color, #ff0070) solid;
}

.footer_text {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 130px;
  color: var(--title-text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  align-self: center;
  justify-self: center;
  margin: auto;
}
