:root {
  --main-font-size: 18px;
  --main-font: 'IBM Plex mono', monospace, sans-serif;
  --small-gap: 10px;
  --large-gap: 20px;
  --btn-hover: rgba(255, 0, 112, 0.4);
  --links-pseudo-classes-color: #f1b2ce;
  --link-text-shadow-color: #ff0070;
  --title-text-color: #db00ff;
  --advice-title-text-color: #ff0070;
  --footer-text-color: #db00ff;
  --text-accent-color: #000028;
  --main-text-color: #f1b2ce;
  --accent-color: #ff0070;
  --corners-btn-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #00183f;
}
